.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

/* Kontener na oba konwertery */
.converters-container {
  display: flex;
  gap: 20px; /* Odstęp między konwerterami */
}

/* Styl dla obu konwerterów */
.container {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  transition: background 0.3s, color 0.3s;
  text-align: center;
}

/* Tryb jasny */
.light {
  background: #ffffff;
  color: #333;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Tryb ciemny */
.dark {
  background: #333;
  color: white;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

input {
  margin: 10px;
  padding: 8px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Przycisk trybu ciemnego w lewym dolnym rogu */
.toggle-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.toggle-btn:hover {
  background: rgba(0, 0, 0, 0.6);
}
